.showcase-container{
    height: 100vh;
    width: 100%;
    background-image: url('../../../Assets/showcase.jpg');
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
}

.showcase-content{
    z-index: 1;
    width: fit-content;
}

.showcase-content{
    color: whitesmoke;
    text-align: center;
    padding-bottom: 10px;
}

.showcase-content h1{
    font-size: 3rem;
}

.showcase-content p{
    font-size: 1.5rem;
}
